# Python compiled files
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Python cache directories
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/

# Python distribution / packaging
*.egg-info/
dist/
build/
eggs/
.eggs/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv
scraping/.DS_Store
scraping/scrapers/descriptions/.DS_Store
